@use "variables";

.hero{
    //padding-top: 64px;
    padding-bottom: 64px;
    background-image: url(../images/sp_4_pb.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    .container{
        max-width: 1920px;
    }

    &__text{
        margin-top: 32px;
        margin-bottom: 64px;
        font-size: 36px;
        font-weight: 800;
        color: variables.$color3;
        line-height: 48px;

    }

    &__logo{
        display: block;
        margin: 0;
        width: 100%;
        //max-width: 1920px;
    }

    @media(max-width: 640px){

        &__text{
            font-size: 18px;
            line-height: 24px;
            margin: 24px 0;
        }
    }

    @media(max-width: 768px){

        &__text{
            font-size: 24px;
            line-height: 24px;
            margin: 32px 0;
        }
    }

}